@import "tailwindcss";

@keyframes marquee-ltr {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.animate-marquee-ltr {
  animation: marquee-ltr 20s linear infinite;
}
.group:hover .animate-marquee-ltr {
  animation-play-state: paused;
}
